.App {
  text-align: center;
}

.weather-cards{
  margin-top: 3rem;
  display: flex;
  justify-content: space-evenly;
}
.weather-card p{
  font-weight: 630;
  font-size: 18px;
}
.weather-card .num{
  font-weight: 400;
  font-size: 15px;
}
.inputText{
  font-size: large;
  border: none;
}
.search{
  color: white;
  border: none;
  background-color: chartreuse;
  height: 2.5rem;
  width: 6.5rem;
  font-size: large;
  border-radius: 0.4rem;
}